.nav {
  background-color: transparent;
  height: 100%;
  font-size: 0.875rem;

  @media (width <= 1220px) {
    display: block;
    position: absolute;
    top: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 1000px;
    transform: translateX(-150%);
    transition: all 0.2s;
  }
  @media (width <= 950px) {
    width: 100%;
    left: 0;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70px;
  list-style: none;
  @media (width <= 1220px) {
    display: flex;
    align-items: start;
    height: 100%;
    flex-direction: column;
    line-height: 30px;
    background-color: rgb(0, 0, 0);
  }
}

.list a {
  font-size: 0.8rem;
}
.nav.active {
  transform: translateX(0);
}

@media (width <= 1220px) {
  .nav :global(a:hover) {
    color: #7f7679;
  }
}
