.container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  position: relative;
  z-index: 200;
  overflow: hidden;
  @media (width <= 1220px) {
    padding: 30px 10px 0 10px;
  }
}
.searchBlock {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  white-space: nowrap;
  @media (width <= 1220px) {
    font-size: 1.13rem;
  }
}

.title .line {
  display: block;
  height: 1px;
  width: 50px;
  background-color: #fff;
  margin: 0 10px;
}
.searchTable {
  margin: 30px;
  border: 1px solid rgb(105, 105, 105);
  text-align: center;
  padding: 10px 15px 20px 15px;

  overflow: hidden;
}
.input {
  width: calc(100% - 20px) !important;
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  padding: 0 10px !important;
}

.button {
  cursor: pointer;
  margin-top: 30px;
  width: 94px;
  height: 30px;
  background-color: #596773;
  font-size: 0.8rem;
  color: white;
}
.button:hover {
  background-color: #444;
}

/* //сообщание об ошибке поиска */
.berrors {
  margin: auto;
  display: none;

  flex-direction: column;
  background-color: #fce5ba;
  color: #a76846;
  padding: 20px;
  min-height: 60px;
  width: calc(100% - 40px);
}

.berrors b {
  display: block;
  font-weight: 700;
}
