.sectionTwo {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  @media (width <= 1220px) {
    max-width: 1000px;
  }
  @media (width <= 950px) {
    max-width: 768px;
  }
  @media (width <= 760px) {
    max-width: 640px;
  }
  @media (width <= 590px) {
    max-width: 480px;
  }
}

.title {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  @media (width <= 1220px) {
    font-size: 1.125rem;
  }
}
.title .line {
  height: 1px;
  width: 50px;
  background-color: #fff;
  margin: 0 10px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px 30px;
  @media (width <= 760px) {
    grid-template-columns: 1fr;
  }
}

.posterInner {
  position: relative;
}

.image {
  width: 100%;
  height: 325px;
  object-fit: cover;
  @media (width <= 1220px) {
    height: 285px;
  }
  @media (width <= 950px) {
    height: 220px;
  }
}

.posterTitle {
  display: block;
  padding: 5px 0;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
}
