.a {
  color: black;
  text-transform: capitalize;
  padding: 0 10px;
  line-height: 30px;
  font-size: 0.9rem;
}
.item:hover {
  background-color: black;
}
.a:hover {
  color: white;
}

.hidden {
  position: absolute;
  width: 880px;
  height: 200px;
  display: flex;
  left: 20%;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  transition: 0.3s;
  padding: 20px 10px;
  background-color: white;
  transform: translateY(2px);
}
